*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

html, body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

main {
    display: flex;
    width: 70%;
    justify-content: space-around;
    gap: 2rem;
}

.card {
    width: 450px;
    height: 500px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
}

.card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin: 8px 0 20px;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}