@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.slider {
  width: 100%;
  height: 100vh;
}

.slider .controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 2;
}

.slider .controls > div {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.slider .controls > .up:active {
  transform: translateY(-10px);
}

.slider .controls > .down:active {
  transform: translateY(10px);
}

.slider .controls > .up {
  top: 0px;
  right: 0px;
  background: #fff;
  color: #111;
  border-radius: 0 5px 5px 0;
}

.slider .controls > .down {
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#0cbaba, #380036);
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.slider .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.slider .wrapper .left,
.slider .wrapper .right {
  width: 50%;
  overflow: hidden;
}

.slider .wrapper .left > div,
.slider .wrapper .right > div {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.slider .wrapper .left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px 0px 50px;
}

.slider .wrapper .left > div h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(#0cbaba, #380036);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider .wrapper .left > div p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #555;
  text-align: justify;
}

.slider .wrapper .right > div img {
  width: 100%;
  height: 100%;
  object-fit: obtain;
}

.slider .wrapper .right div:nth-child(1) {
  margin-top: -400vh;
}
