@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: #ff676d;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 800px;
}

main h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 5rem;
}

.slide-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img {
    height: 100%;
    border-radius: 10px;
}

.user-text {
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    z-index: 2;
}

.user-text p {
    font-size: 18px;
    line-height: 24px;
}

.user-text h2 {
    margin: 35px 0 5px;
    color: #fff;
} 

.indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.indicator .btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn.active {
    width: 45px;
}

.testimonial {
    width: 100%;
    overflow: hidden;
}