* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/screenshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(50px);
}

main {
  width: 600px;
}

main h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 5rem;
}

.slide-row {
  display: flex;
  width: 2400px;
  transition: 0.5s;
}

.slide-col {
  display: flex;
  justify-content: row;
  max-width: 600px;
  height: 300px;
  background: rgb(150, 6, 73);
  border-radius: 10px;
}

img {
  height: 100%;
  display: block;
  border-radius: 10px 0 0 10px;
}

.user-text {
  width: 520px;
  color: #d3d4d6;
  padding: 45px;
}

.user-text p {
  font-size: 16px;
  line-height: 24px;
}

.user-text h2 {
  margin: 35px 0 5px;
  color: #fff;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn.active {
  width: 45px;
}

.testimonial {
  width: 100%;
  overflow: hidden;
}
