@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&family=Yuji+Boku&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Yuji Boku", serif;
}

body {
  min-height: 100vh;
}

nav {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 0 1rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #360033;
  background: -webkit-linear-gradient(-8deg, #0b8793, #360033);
  background: linear-gradient(-8deg, #0b8793, #360033);
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0;
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 0.8rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar {
  width: 300%;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}
