@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Gloria+Hallelujah&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 10px;
}

body.prevent-background-scroll {
  min-height: 100dvh;
  overflow-y: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(
      circle at 65% 15%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 40% 33%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 9% 92%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 0%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 94%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 13% 95%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 8%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 58% 0%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 71%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 88% 74%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 74% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 16% 56%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 25% 4%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 54% 83%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 70% 60%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 73%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 63% 81%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 58%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 64% 68%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 48%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(0deg, rgb(18, 23, 42), rgb(13, 18, 34));
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* INTRO */

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px;
  min-height: 100vh;
  width: 100%;
  padding: 80px 100px;
}

.intro-content {
  padding-right: 100px;
}

.intro-content h1 {
  color: transparent;
  font-family: "Gloria Hallelujah", cursive;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.4;
  animation: fade-in-out 12s linear infinite;
}

@keyframes fade-in-out {
  0% {
    color: #fff;
    filter: hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  30%,
  70% {
    color: #fff;
    filter: hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: hue-rotate(0deg);
  }
}

.collage-art {
  font-size: 1.4rem;
  font-family: 600;
  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
}

.intro-content p {
  font-family: inherit;
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  color: #94a3b8;
  font-weight: 500;
  line-height: 1.6;
  margin: 30px 0 50px;
  text-align: justify;
}

.btn {
  padding: 1rem 4rem;
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: 600;
  background: transparent;
  color: #18d25f;
  border-radius: 0.5rem;
  border-bottom: 2px solid #18d25f;
  border-right: 2px solid #18d25f;
  border-top: 2px solid rgb(9, 199, 251, 0.7);
  border-left: 2px solid rgb(9, 199, 251, 0.7);
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
  outline-color: transparent;
  text-decoration: underline;
}

.btn:hover {
  border-top: 2px solid #18d25f;
  border-left: 2px solid #18d25f;
  border-bottom: 2px solid rgb(9, 199, 251, 0.7);
  border-right: 2px solid rgb(9, 199, 251, 0.7);
  box-shadow: rgb(9, 199, 251, 0.4) 5px 5px, rgb(9, 199, 251, 0.3) 10px 10px,
    rgb(9, 199, 251, 0.2) 15px 15px;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  aspect-ratio: 3/4;
  background: linear-gradient(#fff2, transparent);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg)) translateY(calc(var(--y) * 1px))
    translateX(calc(var(--x) * -1px));
  transition: all 0.4s ease-in;
}

.card img,
.item img {
  width: 90%;
  height: 90%;
}

.item img {
  object-fit: cover;
}

.card-container:hover .card {
  margin: 0 10px;
  transform: rotate(0deg) translateY(0) translateX(0);
}

/* FEATURED */

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 80px;
}

.gradient-line {
  display: flex;
  justify-content: center;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #09c7fb;
  background-image: linear-gradient(
    90deg,
    rgb(9, 199, 251, 0.7) 0%,
    rgb(147, 251, 157, 0.7) 65%
  );
  margin-bottom: 35px;
}

.featured h1 {
  font-family: "Caveat", cursive;
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 10px #18d25f, 0 0 20px #18d25f;
  margin-bottom: 60px;
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(7, 100px);
  gap: 20px;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fff2, transparent);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dfdbdb;
  font-size: clamp(0.8rem, 4vw, 1rem);
  line-height: 1.5;
  background: #0009;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: var(--border-radius);
  padding: 20px;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease-in;
} */

/* .overlay:hover {
  opacity: 1;
}

.overlay h3 {
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.overlay:hover h3 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
} */

.art-one {
  grid-area: 1 / 1 / 3 / 3;
}

.art-two {
  grid-area: 1 / 3 / 4 / 5;
}

.art-three {
  grid-area: 1 / 5 / 3 / 7;
}

.art-four {
  grid-area: 1 / 7 / 3 / 9;
}

.art-six {
  grid-area: 4 / 3 / 6 / 5;
}

.art-five {
  grid-area: 3 / 1 / 5 / 3;
}

.art-seven {
  grid-area: 3 / 5 / 5 / 7;
}

.art-eight {
  grid-area: 3 / 7 / 6 / 9;
}

.art-nine {
  grid-area: 5 / 1 / 8 / 3;
}

.art-ten {
  grid-area: 6 / 3 / 8 / 5;
}

.art-eleven {
  grid-area: 5 / 5 / 8 / 7;
}

.art-twelve {
  grid-area: 6 / 7 / 8 / 9;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  z-index: 20;
  animation: openLightbox 0.6s ease-in-out 1 normal;
}

@keyframes openLightbox {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 800px;
  background: rgba(46, 46, 46, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  color: #fff;
  z-index: 30;
}

.img-header {
  text-align: center;
  font-weight: 500;
  padding: 15px 20px;
  font-size: 1.2rem;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.img-body {
  display: flex;
  height: 500px;
}

.img-body > img {
  width: 100%;
  border-radius: 0 0 12px 12px;
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.slide {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: rgba(46, 46, 46, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 40;
}

.prev {
  left: 14%;
}

.next {
  right: 14%;
}

.slide:hover {
  background: rgba(15, 14, 28, 0.9);
}

@media (max-width: 1400px) {
  .intro {
    gap: 30px;
    padding: 80px 70px;
  }

  .intro-content {
    padding-right: 70px;
  }

  .btn {
    padding: 1rem 3rem;
  }
}

@media (max-width: 975px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    grid-template-areas:
      "card-container"
      "intro-content";
    padding: 40px 60px 30px;
  }

  .intro-content {
    grid-area: intro-content;
    padding-right: 0;
    text-align: center;
  }

  .card-container {
    grid-area: card-container;
  }

  .card {
    max-width: 150px;
  }

  .featured {
    padding: 60px 70px 80px;
  }

  .grid-area {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(9, 100px);
    gap: 20px;
    margin: 40px 30px 60px;
  }

  .art-four {
    grid-area: 8 / 1 / 10 / 3;
  }

  .art-eight {
    grid-area: 8 / 3 / 10 / 5;
  }

  .art-twelve {
    grid-area: 8 / 5 / 10 / 7;
  }
}

@media (max-width: 750px) {
  .grid-area {
    grid-template-columns: repeat(6, 90px);
    grid-template-rows: repeat(9, 90px);
  }

  .featured {
    padding: 60px 50px 80px;
  }

  .slide {
    font-size: 2rem;
    padding: 14px;
  }

  .img-body {
    display: flex;
    height: 300px;
  }

  .prev {
    left: 5%;
  }

  .next {
    right: 5%;
  }
}

@media (max-width: 670px) {
  .grid-area {
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(14, 110px);
  }

  .art-three {
    grid-area: 11 / 3 / 13 / 5;
  }

  .art-four {
    grid-area: 8 / 1 / 10 / 3;
  }

  .art-seven {
    grid-area: 13 / 3 / 15 / 5;
  }

  .art-eight {
    grid-area: 8 / 3 / 11 / 5;
  }

  .art-eleven {
    grid-area: 12 / 1 / 15 / 3;
  }

  .art-twelve {
    grid-area: 10 / 1 / 12 / 3;
  }
}

@media (max-width: 530px) {
  .intro {
    grid-template-rows: 45% 45%;
    gap: 20px;
    padding: 10px 60px 60px;
  }

  .intro-content {
    margin-top: 90px;
  }

  .grid-area {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(14, 90px);
  }
}

@media (max-width: 460px) {
  .intro {
    padding: 10px 30px 60px;
  }

  .card {
    max-width: 130px;
  }

  .grid-area {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(14, 70px);
  }

  .featured {
    padding: 60px 40px 80px;
  }

  .featured h1 {
    margin-bottom: 0;
  }

  .img-header {
    padding: 10px;
    font-size: 0.9rem;
  }

  .img-body {
    display: flex;
    height: 240px;
  }
}
