@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: #112434;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  margin-left: 20px;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #112434;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active {
  background: #112434;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110dvh;
  background-color: #fba8a4;
  background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #112434;
}

.blog {
  position: relative;
  padding: 100px 150px;
  background: #112434;
}

.blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to top, transparent, #1a3647);
  z-index: 999;
}

.blog h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.blog p {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: justify;
}
